<div class="container flex justify-between items-center py-4 px-8 bg-white rounded-full">
  <div class="text-3xl font-bold cursor-pointer" [routerLink]="['/']">{{logo}}</div>

  <div class="flex items-center">
    <app-button-change-languages class="me-2"/>

    <p-button [rounded]="true" [text]="true" severity="secondary" class="me-2" [routerLink]="'/cart'">
      @if (numProdInTheCart() > 0) {
        <p-badge [value]="numProdInTheCart()" severity="danger"/>
      }
      <app-icon [name]="ICON.cart" iconSize="md"/>
    </p-button>


    <p-button [rounded]="true" [text]="true" severity="secondary" (click)="menu.toggle($event)">
      <app-icon [name]="ICON.user" iconSize="md"/>
    </p-button>
    <p-menu #menu [model]="itemsLink" [popup]="true" appendTo="body"/>

  </div>
</div>
